[include]
  path = ~/.config/delta/themes/catppuccin/catppuccin.gitconfig

[user]
	email = kanigreg@gmail.com
	name = kanigreg

[alias]
	hist = log --pretty=format:\"%C(bold blue)%h%C(reset) %C(dim green)%ad%C(reset) | %C(white)%s%C(reset)%C(reset)%C(bold yellow)%d%C(reset) %C(dim italic white)- %an%C(reset)\" --graph --date=short
	lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
	lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all	
	co = checkout
	ci = commit
	st = status
	br = branch
	type = cat-file -t
	dump = cat-file -p

[core]
	autocrlf = input
	safecrlf = warn
	excludesFile = ~/.gitignore
	editor = nvim
  pager = delta

[init]
	defaultBranch = main

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true
  side-by-side = true
  features = catppuccin-mocha
  line-numbers = true

[merge]
  conflictstyle = diff3

[diff]
  colorMoved = default

